/* body{
    background-color: purple    ;
    color: white;
}

a[target="_top"]{
    background-color: yellow;
}

a{
    background-color: white;
}
.class1 .class2{
    background-color: yellow;
    color: black;
}

.class1.class2{
    color: brown;
    background-color: pink;
} 

div {
    background-color: black;
}

.hello.byy{
    background-color: green;
}
[class5*="foo"]{
    color:red;
}
[class6~="color-yellow"]{
    color:yellow;
}
[class7^="foo-"]{
    color:aqua
}
[class$="file"]{
    color:red;
} */
/* div span{
    color:aqua;
}
div > span{
    background-color: black;
}
a ~ span{
    color:red;
}
a + span{
    color:red;
}
span + span{
    color:red;
} */
/* p +p{
    color:red;
} */
/* p ~ p{
    color:red;
} */
/* div.warning{
    color:aqua;
}
div.important{
    color:red;
}
div.important.warning{
    color:blue;
} */
/* p:last-of-type{
    background: red;
}
h1:last-of-type{
    background: yellow;
}
input:in-range{
    border: 1px solid blue;
} */
/* .b-m{
    margin: 10px auto;
    padding: 5px;
    background-color: azure;
    border: 2px solid #000;
    width: 300px;
    height: 200px; text-align: center;
    box-sizing: border-box;
} */
/* .b-m{
    margin: 10px auto;
    padding: 5px;
    background-color: initial;
    border: 2px solid #000;
    width: 300px;
    height: 200px; text-align: center;
    box-sizing: border-box;
}
div{
    background-color: aqua;
}
span{
    background-color: blue;
} */
/* body{
    background-color: #dfc5fe;
} */
body{
    background-image: url('wallpapertonystark.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}